src/n8nFlows/get_issue_details.json
{
  "name": "get_issue_details",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "input"
            },
            {
              "name": "repo"
            },
            {
              "name": "repository"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -64,
        64
      ],
      "id": "ed5f46aa-f77f-4a1d-97b9-b6e7bc597273",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0eff82a-55e0-48c0-a0f8-71307d41bf6b",
              "name": "repo",
              "value": "={{ $json.repo || $json.repository}}",
              "type": "string"
            },
            {
              "id": "23626445-8d10-42b6-a540-751e75f04a1c",
              "name": "issue_number",
              "value": "={{ $json.input.toString().replace('#', '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        64
      ],
      "id": "a7a21b43-87a8-473c-83c9-edaefc4637f0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repo }}/issues/{{ $json.issue_number }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        352,
        64
      ],
      "id": "6d733467-b3f4-4bb2-8d8e-0ec41d1da92c",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UgAFYi0V1BhbBKJF",
          "name": "myGitHub HeaderAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatta i dettagli dell'issue\nconst item = $input.all()[0].json;\n\nreturn [{ \n  json: {\n    number: item.number,\n    title: item.title,\n    state: item.state,\n    body: item.body,\n    url: item.html_url,\n    created_at: item.created_at,\n    updated_at: item.updated_at,\n    closed_at: item.closed_at,\n    labels: item.labels.map(l => l.name),\n    assignees: item.assignees?.map(a => a.login) || [],\n    user: item.user.login,\n    comments: item.comments\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        64
      ],
      "id": "a18a23b1-01cc-4be6-b7fc-ded9789497aa",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -112
      ],
      "id": "c47ff377-22cd-4aaa-b772-444aa5fe4a0d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"repo\": \"jessicatrenta/task-manager-test\",\n  \"input\": \"#1\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -112
      ],
      "id": "a309d8b1-e8aa-4cf7-a4cf-1b4bf47248fd",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7cb897b5-6d78-4641-9b63-ca31250157e7",
  "meta": {
    "instanceId": "6ac8d2dc76203984938fcda77a51bdd19f26607819abd9cdafd1682d34f1ed7a"
  },
  "id": "KQsIQQ7FaduFdK3m",
  "tags": [
    {
      "updatedAt": "2025-12-16T21:25:10.044Z",
      "createdAt": "2025-12-16T21:25:10.044Z",
      "id": "rd3WVRGvAYwiuAq5",
      "name": "AgnosticGitHubTool"
    }
  ]
}