src/n8nFlows/get_commit_details.json
{
  "name": "get_commit_details",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"input\": {\n      \"type\": \"string\",\n      \"description\": \"SHA del commit (primi 7 caratteri vanno bene)\"\n    }\n  },\n  \"required\": [\"input\"]\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        64
      ],
      "id": "deb88de1-42cc-4f55-a94f-70134a0e3b19",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0eff82a-55e0-48c0-a0f8-71307d41bf6b",
              "name": "repo",
              "value": "={{ $json.repo || $json.repository}}",
              "type": "string"
            },
            {
              "id": "23626445-8d10-42b6-a540-751e75f04a1c",
              "name": "sha",
              "value": "={{ $json.input }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        64
      ],
      "id": "8cf82e7e-520a-4174-81f0-599b9b74876d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repo }}/commits/{{ $json.sha }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        464,
        64
      ],
      "id": "dc223765-fcf8-469a-b735-983adda73eab",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UgAFYi0V1BhbBKJF",
          "name": "myGitHub HeaderAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatta dettagli commit\nconst item = $input.all()[0].json;\n\nreturn [{ \n  json: {\n    sha: item.sha.substring(0, 7),\n    message: item.commit.message,\n    author: item.commit.author.name,\n    date: item.commit.author.date,\n    url: item.html_url,\n    stats: {\n      additions: item.stats.additions,\n      deletions: item.stats.deletions,\n      total: item.stats.total\n    },\n    files: item.files.map(f => ({\n      filename: f.filename,\n      status: f.status,\n      changes: f.changes\n    }))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        64
      ],
      "id": "ce25834f-2ae3-4060-895d-e81e445bae2f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -112
      ],
      "id": "2b52955d-c36a-4e5a-ba81-4db3239883e5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"repo\": \"jessicatrenta/task-manager-test\",\n  \"input\": \"6b240be\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -112
      ],
      "id": "93978ca8-7432-4c81-a596-69a1b5da31eb",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "949fd1cc-f8ed-40ed-ad57-4574543c7c06",
  "meta": {
    "instanceId": "6ac8d2dc76203984938fcda77a51bdd19f26607819abd9cdafd1682d34f1ed7a"
  },
  "id": "qgLc1RrVsxkmTaEs",
  "tags": [
    {
      "updatedAt": "2025-12-16T21:25:10.044Z",
      "createdAt": "2025-12-16T21:25:10.044Z",
      "id": "rd3WVRGvAYwiuAq5",
      "name": "AgnosticGitHubTool"
    }
  ]
}